body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffbea;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #79a3b1;
    color: white;
    padding: 20px 0;
    text-align: center;
}
header h1{
    margin: 0;
}
main {
    width: 80%;
    margin: 20px auto;
}
.introduction, .ingredients, .instructions {
    background-color: #e0d9d9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, o, 1);
}
.ingredients h2, .instructions h2 {
    color: #b3568f;
}
ul, ol {
    margin: 20px
}
footer {
    text-align: center;
    background-color: #79a3b1;
    color: white;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}
button{
    background-color: #79a3b1;
    border: 1;
    padding: 5px 5px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}